/* Write your CSS here */
.repolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8ff;
  width: 25%;
  margin: 10px;
  padding: 10px;
  border: 5px;
}
.eachlistimage {
  width: 50px;
  height: 50px;
}
.name {
  font-size: 15px;
  color: red;
}
.countscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.starscont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.countimage {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.counttext {
  font-size: 10px;
  color: black;
}
