/* Write your CSS here */

.maincontainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.mainheading {
  font-size: 30px;
  color: black;
  font-family: Lobster;
  font-weight: bold;
  align-self: center;
}
.languagescontainer {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 50%;
}
.repositorycontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
